# Numerous always-ignore extensions
*.idea*.vs*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.classpath
.settings
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

# Brunch output folder.
public/
target/
.settings/
/*.iml
/src.DotSettings.user
/src/.vs/VSWorkspaceState.json
/src/.vs/slnx.sqlite
/src/.vs/src/v15/.suo
